mixin socialLink(data)
    li
        a(href=data.link target="_blank")
            span= data.title 
            img(width="70px" src= data.img alt = data.title )

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(property="og:locale" content="en_US")
        meta(property="og:type" content="website")
        meta(property="og:site_name" content="WiZaRd")
        meta(property="og:title" content="WiZaRd")
        meta(property="og:url" content="w1zard.cf")
        meta(property="og:description" content="Skills are enough to describe me :D")
        meta(property="og:image" content="https://res.cloudinary.com/dbvthtwhc/image/upload/v1613106464/wizard/profilePic.jpg")
        meta(property="article:publisher" content="w1zard.cf")
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content="@WiZaRd_062")
        meta(name="twitter:title" content="WiZaRd")
        meta(name="twitter:description" content="Skills are enough to describe me :D")
        meta(name="twitter:url" content="w1zard.cf")
        meta(name="author" content="WiZaRd")
        meta(name="description" content="Skills are enough to describe me :D")

        //- Icon
        link(rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192" href="./assets/favicon/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png")
        link(rel="manifest" href="./assets/favicon/manifest.json")

        //- Stylesheet
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css")
        link(rel="stylesheet" type="text/css" href="style/style.css")

        //- jQuery
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

        title WiZaRd

    body
        noscript You need to enable JavaScript to run this app.

        #loader 
            p Hey There!

        .mute 
            i.fal.fa-volume-slash
        
        #particles-js
            video.video(autoplay loop muted src="https://res.cloudinary.com/dbvthtwhc/video/upload/v1613106483/wizard/background.webm")
            audio.audio(loop src="https://res.cloudinary.com/dbvthtwhc/video/upload/v1613106468/wizard/background_audio.mp3")
            
            .intro
                .profilPicBorder
                    .profilPic
                
                div
                    p.para
                        | Hi, I'm 
                        span.name WiZaRd
                    p.typewrite.reveal(data-period="2000" data-type='[ "I am a gamer.", "And a Developer." ]')
                    span.wrap

                    .follow Follow me

        .followMe
            .close 
                i.far.fa-times
            ul
                +socialLink({link:'https://www.youtube.com/channel/UCOcZ_NXVu1p7m_sW0RO4_VA', title:'YouTube', img: 'https://res.cloudinary.com/dbvthtwhc/image/upload/v1613106648/wizard/youtube.png' })

                +socialLink({link:'https://steamcommunity.com/id/arreyouwinningson', title:'Steam', img: 'https://img.icons8.com/fluent/96/000000/steam.png' })

                +socialLink({link:'https://www.twitch.tv/w1z4rd06', title:'Twitch', img: 'https://img.icons8.com/color/96/000000/twitch--v2.png' })

                +socialLink({link:'https://twitter.com/WiZaRd_062', title:'Twitter', img: 'https://img.icons8.com/color/96/000000/twitter-squared.png' })
                
                +socialLink({link:'https://discord.gg/TcfBchhtfU',title:'Discord', img: 'https://img.icons8.com/color/96/000000/discord-logo.png' })

                +socialLink({link:'https://myanimelist.net/profile/wizard062', title:'MAL', img: 'https://cdn.myanimelist.net/images/favicon.ico' })
                
        //- ParticleJs
        script(src="js/particles.min.js")

        script(src="js/particle.js") 
        script(src="js/main.js")